@import '~antd/dist/antd.css';
@import 'Register.css';
@import 'Main.css';
@import 'Login.css';
@import 'Header.css';
@import 'Upload.css';

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.App {
 text-align: center;
}

.App-logo {
 animation: App-logo-spin infinite 20s linear;
 height: 60px;
 float: left;
}

.App-header {
 /* background-color: orangered; */
 height: 100px;
 color: black;
}

.App-title {
 font-size: 1.5em;
 float: left;
 color: black;
 padding-top: 16px;
}

.Home-title {
 font-size: 0.8em;
 float: right;
 padding-top: 3px;
 padding-left: 6px;
}

a {
    /* float: left; */
  color: black;
}

a:hover {
    color: orangered;
}

.App-intro {
 font-size: large;
}

@keyframes App-logo-spin {
 from { transform: rotate(0deg); }
 to { transform: rotate(360deg); }
}

.main {
    margin-top: 30px;
}

